.button {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $white;
  background-color: $lime-green;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
  padding-bottom: 17px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
