.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;

  @media (min-width: $tablet-width) {
    width: 144px;
    padding-left: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 153px;
    padding-left: 0;
  }
}

.copyright__caption {
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__svg {
  fill: $dark-pink;
}

.copyright__link:hover .copyright__svg,
.copyright__link:focus .copyright__svg {
  fill: $dark-blue;
}

.copyright__link:active .copyright__svg {
  opacity: 0.3;
}
