.failure-popup {
  padding: 38px 20px;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    padding: 40px 80px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 40px;
  }
}

.failure-popup__caption {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: $black;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 22px;
  }
}

.failure-popup__description {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 63px;
  }
}

.failure-popup__background {
  @media (min-width: $desktop-width) {
    background-color: $very-light-gray;
    padding: 50px 240px;
  }
}

.failure-popup__close {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}
