.feedback {
  padding-top: 44px;

  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 58px;
    width: 660px;
    padding: 0 20px;
    padding-top: 91px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 57px 70px;
    width: 1020px;
    padding: 0 40px;
    padding-top: 91px;
  }
}

.feedback__promo-text {
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 490px;
    font-size: 18px;
    padding: 0;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 760px;
    grid-column: 1 / -1;
  }
}

.feedback__promo-text span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.feedback__background {
  background-color: $very-light-gray;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.feedback__background--achievements {
  @media (min-width: $tablet-width) {
    grid-row: 5 / 6;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }
}

.feedback__background--apps {
  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
  }
}

.feedback__fieldset {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  border: none;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding: 0;
    border: 2px solid $light-gray;
    border-radius: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.feedback__fieldset--name {
  padding-top: 35px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }
}

.feedback__fieldset--contacts {
  padding-top: 32px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding: 0 58px;
    padding-top: 36px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    padding-top: 34px;
    padding-bottom: 13px;
  }
}

.feedback__fieldset--achievements {
  padding-top: 38px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
    padding-bottom: 55px;
  }
}

.feedback__fieldset--apps {
  padding-top: 34px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 53px;
  }
}

.feedback__fieldset--comment {
  padding-top: 16px;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding: 0 58px;
    padding-top: 37px;
    padding-bottom: 51px;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    padding-top: 34px;
    padding-bottom: 43px;
  }
}

.feedback__fieldset-title {
  display: block;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-pink;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    max-width: 550px;
  }
}

.feedback__fieldset-title--name {
  display: none;
}

.feedback__fieldset-title--apps {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding: 0 25px;
  }
}

.feedback__fieldset-title--achievements {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding: 0 31px;
  }
}

.feedback__fieldset-title--contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 31px;
  }
}

.feedback__fieldset-title--comment {
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
  }
}

.feedback__initials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 71px;
  }
}

.feedback__initials-item,
.feedback__contacts-item {
  margin-bottom: 17px;
}

.feedback__initials-item:last-child,
.feedback__contacts-item:last-child {
  margin-bottom: 0;
}

.feedback__initials-item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.feedback__contacts-item {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 10px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.feedback__contacts-item::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 59px;
    height: 59px;
    background-color: $light-gray;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.feedback__contacts-item--phone::before {
  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 19px;
  }
}

.feedback__contacts-item--email::before {
  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 13px;
  }
}

.feedback__initials-label,
.feedback__contacts-label {
  display: block;
  line-height: 30px;
  text-transform: uppercase;
  color: $dark-pink;
  cursor: pointer;
  padding-left: 23px;
  margin-bottom: 5px;
}

.feedback__initials-label {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 19px;
    margin-bottom: 0;
  }
}

.feedback__contacts-label {
  @media (min-width: $tablet-width) {
    padding-left: 18px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 19px;
  }
}

.feedback__initials-input,
.feedback__contacts-input {
  width: 100%;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  padding: 0 20px;
  border: 2px solid $light-gray;
  border-radius: 3px;
  outline: none;

  &:hover {
    border-color: $dark-blue;
  }

  &:focus {
    border-color: $dark-pink;
  }

  &::placeholder {
    color: inherit;
  }
}

.feedback__contacts-input {
  @media (min-width: $tablet-width) {
    padding-right: 79px;
  }
}

.feedback__achievements-list,
.feedback__apps-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__achievements-list {
  @media (min-width: $tablet-width) {
    padding: 0 58px;

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 43px 55px;
    }
  }
}

.feedback__apps-list {
  @media (min-width: $tablet-width) {
    padding: 0 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 72px;
  }
}

.feedback__achievements-item {
  margin-bottom: 43px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.feedback__achievements-item--chuck {
  order: 1;
}

.feedback__achievements-item--tower {
  order: 2;
}

.feedback__achievements-item--beach {
  order: 3;
}

.feedback__achievements-item--souvenirs {
  order: 4;
}

.feedback__achievements-item--hotel {
  order: 5;
}

.feedback__apps-item {
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.feedback__achievements-item:last-child,
.feedback__apps-item:last-child {
  margin-bottom: 0;
}

.feedback__achievements-label,
.feedback__apps-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.feedback__achievements-label {
  min-height: 39px;
  padding-left: 59px;
}

.feedback__apps-label {
  min-height: 41px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    padding-left: 61px;
  }
}

.feedback__achievements-input + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 39px;
  height: 39px;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 3px;
}

.feedback__achievements-input:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
}

.feedback__apps-input + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 41px;
  height: 41px;
  background-color: $white;
  border: 2px solid $light-gray;
  border-radius: 50%;
}

.feedback__apps-input:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: $dark-pink;
  border-radius: 50%;
}

.feedback__achievements-input:hover + label::before,
.feedback__apps-input:hover + label::before {
  border-color: $dark-blue;
}

.feedback__achievements-input:active + label::before,
.feedback__apps-input:active + label::before,
.feedback__achievements-input:focus + label::before,
.feedback__apps-input:focus + label::before {
  border-color: $dark-pink;
}

.feedback__comment {
  display: block;
  width: 100%;
  height: 201px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  padding: 14px 20px;
  border: 2px solid $light-gray;
  border-radius: 3px;
  outline: none;
  resize: none;

  &:hover {
    border-color: $dark-blue;
  }

  &:focus {
    border-color: $dark-pink;
  }

  &::placeholder {
    color: inherit;
  }

  @media (min-width: $tablet-width) {
    height: 193px;
  }

  @media (min-width: $desktop-width) {
    height: 128px;
  }
}

.feedback__button-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }
}

.feedback__submit {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0;
  }
}

.feedback__footnote {
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    max-width: 250px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
  }
}

.feedback__footnote-asterisk {
  color: $dark-pink;
}

.feedback__footnote-phrase {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
