.logo-header {
  width: 74px;
  height: 23px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
  }
}

.logo-header__svg {
  fill: $white;
}

.logo-header:hover .logo-header__svg,
.logo-header:focus .logo-header__svg {
  fill: $dark-pink;
}

.logo-header:active .logo-header__svg {
  fill: $white;
  opacity: 0.3;
}

.logo-header__svg--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo-header__svg--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo-header__svg--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
