.photo-card {
  margin: 0;
}

.photo-card__name {
  font-weight: 700;
}

.photo-card__time {
  font-size: 12px;
  font-weight: 300;
}

.photo-card__counter {
  font-size: 12px;
  color: $dark-pink;
}
