.photo-filter {
  background-color: $very-light-gray;
}

.photo-filter__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  background-color: inherit;
}

.photo-filter__button--post {
  color: $dark-pink;
}

.photo-filter__button--cancel {
  opacity: 0.1;
}
