.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: $white;
  box-shadow: 0px 7px 15px rgba($black, 0.15);
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 460px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.popup--show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, calc(-2000px - 50%));
  }

  70% {
    transform: translate(-50%, calc(30px - 50%));
  }

  90% {
    transform: translate(-50%, calc(-10px - 50%));
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
