.price {
  background-image: url("../img/grey-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -10px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/grey-background.svg");
    background-position-y: 0;
  }
}

.price__slider {
  position: relative;
  padding-top: 117px;
  padding-bottom: 98px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 115px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 163px;
    padding-bottom: 98px;
  }
}

.price__slider-buttons {
  position: absolute;
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
