.price-table {
  min-width: 840px;
  border-spacing: 0;
  border-collapse: collapse;
  transition: transform 0.6s ease-in-out;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 620px;
    transition: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 940px;
  }
}

.price-table__cell {
  min-width: 280px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-width: 155px;
  }

  @media (min-width: $desktop-width) {
    min-width: 235px;
  }
}

.price-table__cell--empty {
  display: none;
}

.price-table__cell--head {
  position: relative;
  color: $white;
  background-color: $dark-blue;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 26px;
  text-align: center;
  border-left: 2px solid $very-light-gray;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-bottom: 21px;
  }
}

.price-table__cell--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;
  background-image: url("../img/ribbon-caption.svg"), url("../img/ribbon.svg");
  background-size: 24px 26px, 74px 74px;
  background-position: 15px 17px, 0 0;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) and (max-width: 1199px) {
    width: 58px;
    height: 58px;
    background-size: 24px 26px, 58px 58px;
    background-position: 7px 12px, 0 0;
  }
}

.price-table__cell--positive {
  background-image: url("../img/green-tick.svg");
  background-position: 228px center;
  background-size: 31px 21px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-position-x: center;
  }
}

.price-table__cell--negative {
  background-image: url("../img/red-cross.svg");
  background-position: 230px center;
  background-size: 27px 27px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-position-x: center;
  }
}

.price-table__head-name {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price-table__price {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price-table__cell--body {
  line-height: 30px;
  padding: 15px 20px;
  padding-top: 14px;
  background-color: $white;
  border: 2px solid $light-gray;

  @media (min-width: $tablet-width) {
    padding: 6px 15px;
    padding-top: 8px;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding: 13px 20px;
    padding-bottom: 15px;
  }
}

.price-table__cell--body:not(.price-table__cell--body-caption) {
  border-top: none;

  @media (min-width: $tablet-width) {
    font-size: 0;
    line-height: 0;
  }
}

.price-table__cell--body-caption {
  @media (max-width: $mobile-only) {
    display: none;
  }
}
