.research {
  display: none;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $very-light-gray;
  }
}

.research__info {
  position: relative;
  padding-top: 96px;
  padding-left: 330px;
  padding-bottom: 76px;

  @media (min-width: $desktop-width) {
    padding-top: 113px;
    padding-left: 410px;
    padding-bottom: 112px;
  }
}

.research__info::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 238px;
  height: 276px;
  background: url("../img/timer-number.svg") 50% 121px, url("../img/timer-circle.svg") 50% 56px, url("../img/timer.svg");
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    top: 17px;
    left: 40px;
    transform: translateY(0);
    width: 298px;
    height: 345px;
    background: url("../img/timer-number-desktop.svg") 85px 153px, url("../img/timer-circle-desktop.svg") 50% 70px, url("../img/timer-desktop.svg");
    background-repeat: no-repeat;
  }
}

.research__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    margin-bottom: 25px;
  }
}

.research__title-break {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.research__description {
  width: 300px;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    width: 535px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.research__description-gap {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.research__description-break {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.research__link {
  color: $dark-pink;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $dark-blue;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
