.research {
  display: none;
  background-color: $white;
}

.research__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
}

.research__link {
  color: $dark-pink;
  text-decoration: underline;
}
