.success-popup {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }
}

.success-popup--show {
  display: block;
}

.success-popup__caption {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: $black;
  margin: 0;
  margin-bottom: 25px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 22px;
  }
}

.success-popup__description {
  text-align: center;
  margin: 0;
  margin-bottom: 34px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 350px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 420px;
    margin-bottom: 38px;
  }
}

.success-popup__description-break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.success-popup__background {
  background-color: $very-light-gray;
  padding: 50px 20px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.success-popup__close {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}
