.upload {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 28px;
  }
}

.upload__promo-text {
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}
