// Colors

$white: #ffffff;
$black: #000000;
$dark-blue: #283645;
$very-dark-blue: #1d2631;
$dark-pink: #d22856;
$very-light-gray: #f2f2f2;
$light-gray: #e5e5e5;
$lime-green: #2aab6d;

// Viewports

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-only: 659px;
